.poppins{
    font-family: "Poppins";
    font-weight: 400;
    font-style: normal;
    color: white;
  }
  .poppins-italic {
    font-family: "Poppins";
    font-weight: 400;
    font-style: italic;
    color: white;
}
.poppins-bold {
    font-family: "Poppins";
    font-weight: 600;
    font-style: bold;
    color: white;
}

.body{
    padding: 0px;
}

.card{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 400px;
    border: 10px #03324c;
    background-color: #03324c;
    border-radius: 12px;
}
.header{
    padding-bottom: 20px;
}

.form{
    position: relative;
    top: 15%;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 3px;
}

.button{
    background-color: #ef6738;
    color: white;
    padding: 5px 25px;
    text-align: center;
    border-radius: 30px;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: white;
    color: #03324c;
}